<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/register.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form" class="p-1">
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valide: {{form.status | json}}</p> -->
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" placeholder="Insira o Primeiro nome"
          [ngClass]="{'is-invalid': form.get('primeiroNome').errors && form.get('primeiroNome').touched}"
          formControlName="primeiroNome"
          />
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">Nome é obrigatório.</div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" placeholder="Insira o Último nome"
          [ngClass]="{'is-invalid': form.get('ultimoNome').errors && form.get('ultimoNome').touched}"
          formControlName="ultimoNome"
          />
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">Último nome é obrigatório.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" placeholder="Insira o Email"
        [ngClass]="{'is-invalid': form.get('email').errors && form.get('email').touched}"
        formControlName="email"
        />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">Email é obrigatório.</div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">Email é inválido.</div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" placeholder="Insira o nome de Usuário"
        [ngClass]="{'is-invalid': form.get('username').errors && form.get('username').touched}"
        formControlName="username"
        />
        <div *ngIf="f.username.errors?.required" class="invalid-feedback">Username é obrigatório.</div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" placeholder="Digite uma Senha"
          [ngClass]="{'is-invalid': form.get('senha').errors && form.get('senha').touched}"
          formControlName="senha"
          />
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha é obrigatório.</div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">Mínimo de 6 caracteres.</div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" placeholder="Confirme a Senha"
          [ngClass]="{'is-invalid': form.get('confirmeSenha').errors && form.get('confirmeSenha').touched}"
          formControlName="confirmeSenha"
          />
          <div *ngIf="f.confirmeSenha.errors?.required" class="invalid-feedback">Confirme senha é obrigatório.</div>
          <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">Senhas devem ser idênticas</div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5"
          [disabled]="!form.valid"
          >
          Registar
        </button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <a class="btn btn-link btn-block" routerLink="/user/login">
          Já sou Cadastrado
        </a>
      </div>
    </div>
  </form>

</div>
</div>
